@import "bootstrap-sprockets";
@import "bootstrap";


.background {
    background: -webkit-linear-gradient(top, #5d4660, #f7eec7);

}

html, body{height:100%;} 
#outer{
min-height:100%;
}

h1 {
  color: white;
  text-align: center;
}

* html #outer{height:100%;} /* for IE 6, if you care */

body, p { margin:0; padding:0}

th {
  background-color:rgba(3, 3, 1, 0.2);
  color: white;
  text-align: center;
  /*font-size: 25px;*/
}

.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.button {
  display: inline-block;
  border-radius: 20px;
  background-color:rgba(3, 3, 1, 0.7);
  border: 1px;
  color: white;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  width: 100%;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button_small {
  display: inline-block;
  border-radius: 20px;
  background-color:rgba(3, 3, 1, 0.7);
  border: 1px;
  color: white;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.move_left{
	float: left;
    color: white;
}

.move_right{
	float: right;
    text-color: white;
}

.link-color:link {
  color: #333333;
}
.link-color:visited {
  color: #FFFFFF;
}
.link-color:hover {
  color: #CCCCCC;
}
.link-color:active {
  color: #333333;
}